@import url(http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.md-18 {
  font-size: 18px;
  padding-top: 8px;
}
.md-gold {
  color: gold;
}

html {
  height: 100%;
}

body {
  font-weight: 300;
  /*letter-spacing: 1.2px;*/
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  height: 100%;
  background-color: whitesmoke;
  background-image: url(../images/visu_u0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-menu {
  color: silver;
  /*font-weight: 100;*/
  padding: 5px 20px;
  position: absolute;
  line-height: 32px;
  width: 100%;
  vertical-align: middle;
  background-color: white;
  border-bottom: 1px dashed gray;
}

.bottom-menu {
  color: silver;
  /*font-weight: 100;*/
  padding: 5px 20px;
  position: absolute;
  bottom: 0;
  line-height: 32px;
  width: 100vw;
  vertical-align: middle;
  background-color: white;
  border-top: 1px dashed gray;
}

#float-menu {
  position: absolute;
  white-space: nowrap;
  cursor: default;
  top: 51px;
  left: 350px;
  line-height: 32px;
  background-color: white;
  border: 1px solid silver;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  transition: opacity 0.5s;
}
#float-menu:before {
  content: ':::::::::';
  display: inline-block;
  position: absolute;
  z-index: 120;
  color: silver;
  height: 32px;
  transform: rotate(90deg) translate(10px, 5px);
}

.fmenu {
  padding: 5px;
}
.fmenu > li {
  float: left;
  padding: 0 0 0 10px;
  margin: 0;
}
.md-menu-toolbar {
  min-height: 32px;
}
.md-menu > button {
  font-weight: 700;
  min-height: 48px;
}

.md-menu > button > md-icon {
  margin: 0 10px 5px 0;
}

md-menu-item {
  height: 36px !important;
}
md-menu-bar > md-menu.submenu[index="0"] {
  border-left: solid 1px #dfdfdf;

}
md-menu-bar > md-menu:last-of-type {
  border-right: solid 1px #e8e8e8;

}
.submenu {
  background-color: whitesmoke;
  border-top: solid 1px #f0f0f0;
  border-bottom: solid 1px white;
}
.compact-mode-icon {
  position: absolute;
  z-index: 120;
  right: 7px;
  top: 5px;
  display: inline-block;
  cursor: pointer;
  border: 5px solid transparent;
  border-right-color: #888;
  transform: scale(1.2, 1);
}
.compact-mode-icon.off {
  right: 3px;
  border-right-color: transparent;
  border-left-color: #888;

}

.plus-button {
  position: absolute;
  z-index: 120;
  right: 3px;
  top: 20px;
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  color: #888
}

.plus-button > md-toolbar {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.plus-button > md-toolbar > md-menu-bar {
  padding: 0;
  margin: 0;
}

.plus-button > md-toolbar > md-menu-bar > md-menu {
  border: 0;
}

.plus-button button {
  display: inline-block;
  width: 16px;
  height: 16px !important;
  min-height: 24px !important;
  padding: 0;
  background-color: transparent !important;
  border: 0;
}

.plus-button button > i {
  font-size: 18px;
  color: #888;
}
