@import url(http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}

body {
  font-weight: 100;
  letter-spacing: 1.2px;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  height: 100%;
  background-color: whitesmoke;
}

.top-menu {
  color: silver;
  /*font-weight: 100;*/
  padding: 5px 20px;
  position: absolute;
  line-height: 32px;
  width: 100%;
  vertical-align: middle;
  background-color: white;
  border-bottom: 1px dashed gray;
}

.bottom-menu {
  color: silver;
  /*font-weight: 100;*/
  padding: 5px 20px;
  position: absolute;
  bottom: 0;
  line-height: 32px;
  width: 100vw;
  vertical-align: middle;
  background-color: white;
  border-top: 1px dashed gray;
}

#float-menu {
  position: absolute;
  white-space: nowrap;
  cursor: default;
  top: 100px;
  left: 150px;
  width: auto;
  line-height: 32px;
  background-color: white;
  border: 1px solid silver;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.fmenu {
  padding: 5px;
  width: auto;
}
.fmenu > li {
  float: left;
  padding: 0 0 0 10px;
  margin: 0;
}

